.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* text decoration */
.text-center{
    text-align: center;
}

/* header decoration */
header{
    background-image: url('../Assets/Hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
main{
    background-color: #4d47ff18;
}

/* nav styles */
nav{
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    align-items: center;
    position: relative;
}
.nav-title{
    font-size: 34px;
    color: #4E47FF;
    font-weight: black;
}

/* button styles */
.button-decoration{
    height: 48px;
    background-color: #4E47FF;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.button-decoration:hover{
    background-color: aqua;
    color: black;
    transition: 0.3s;
}
nav button{
    width: 132px;
}

/* banner styles */
.banner{
    width: 905px;
    height: 237px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-title{
    width: 905px;
    height: 152px;
    color: #252432;
    font-weight: bold;
    font-size: 65px;
}
.banner button{
    width: 174px;
}

/* link styles */
.link-decoration{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
}

/* action-section-styles */
.action{
    display: flex;
    padding: 116px;
    justify-content: space-between;
}
.action-container{
    width: 517px;
    height: 203px;   
}
.action-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.action-description{
    width: 517px;
    height: 60px;
    font-size: 24px;
    color: #2524328c;
}
main section img{
    border-radius: 48px;
    width: 403px;
    height: 328px;
}
.action button{
    width: 229px;
}

/* Productive section styles */
.productive{
    display: flex;
    justify-content: center;
    padding: 80px 0;
}
.productive-container{
    width: 1140px;
    height: auto;
    padding: 40px 0;
    background-color: #4d47ff32;
    border-radius: 24px;
    text-align: center;
}
.numbers-titles{
    display: flex;
    justify-content: center;
    gap: 158px;
    margin-top: 60px;
}
h1{
    color: #4E47FF;
    font-weight: Bold;
    font-size: 80px;
    margin-top: 30px;
}
p{
    color: #00000070;
    font-size: 20px;
    margin-top: -30px;
}
.productive-title{
    font-size: 38px;
    padding: 0;
    font-weight: Bold;
    margin-bottom: 0px;
    color: #252432;
}

/* Users-say section styles */
.users-say{
    margin-top: 137px;
    text-align: center;
}
.users-say-title{
    font-weight: bold;
    font-size: 42px;
    color: #252432;
}
.star-container{
    display: flex;
}
.stars{
    width: 20px;
    height: 20px;
}
.details{
    margin-top: 30px;
}
.title{
    width: 221px;
    height: 29px;
    font-size: 22px;
    text-align: left;
}
.description{
    margin-top: 5px;
    font-size: 16px;
    font-weight: normal;
    color: black;
    width: 318.67px;
    height: 44px;
    margin-bottom: 94px;
    text-align: left;
}
.names-dates{
    margin-top: -70px;
}
.user{
    display: flex;
}
.user img{
    height: 40px;
    width: 40px;
}
.name-date{
    margin-top: 30px;
    margin-left: 12px;
}
.name{
    font-size: 16px;
    font-weight: bold;
    color: #757575;
}
.date{
    margin-top: -15px;
    font-size: 16px;
    text-align: left;
}
.card{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.card-container{
    background-color: white;
    stroke: #F2EDED;
    border-radius: 14px;
    padding: 24px;
}

/* Ready section styles */
.ready{
    display: flex;
    justify-content: center;
    margin-top: 137px;
}
.ready-container{
    text-align: center;
    width: 1140px;
    height: auto;
    background-color: white;
    border-radius: 14px;
    padding: 71px;
}
.ready-title{
    font-weight: bold;
    font-size: 50px;
}
.ready-element{
    color: #0000007b;
}
.ready-button button{
    width: 195px;
}
.ready-container img{
    width: 840px;
    height: 364.77px;
    border-radius: 48px;
    margin-top: 20px;
}

/* contact styles */
.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-title{
    padding: 200px 150px;
    font-weight: bold;
    font-size: 70px;
}
.contact-form form{
    display: flex;
    flex-direction: column;
    width: 497px;
    height: 490px;
    padding: 71px 150px;
}
.contact-form form label{
    display: block;
    width: 497px;
    text-align: left;
    font-weight: 500;
    font-size: 18px;
}
.contact-form form input, textarea{
    border: none;
    border-radius: 10px;
}
.contact-form form input{
    width: 497px;
    height: 70px;
}
.contact-form form textarea{
    width: 497px;
    height: 135px;
}
.contact-form form button{
    width: 497px;
}

/* footer section styles */
footer{
    display: flex;
    justify-content: center;
    text-align: center;
}
.footer-container{
    width: 531px;
    height: auto;
    padding: 103px 0;
}
.footer-title{
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
}
.footer-description{
    color: #8987A1;
}
.footer-list ul{
    display: flex;
    gap: 48px;
    list-style: none;
}
.footer-list .footer-links{
    text-decoration: none;
    color: #8987A1;
}
.footer-list .footer-links:hover{
    color: blue;
    transition: 0.2s;
}